{%extends 'template.html' %}
{%load static%}
{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<script src="{% static '/js/image_slider.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
           <div id="content">
        <div class="bs-example">
            <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark navbar-hover">
    <div class="collapse navbar-collapse" id="navbarHover">
<!--        <div id="main-sidebar">-->
<!--            <button class="nav-item nav-link active showsidebar" onclick="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></button>                        -->
<!--        </div>-->
        <span style="margin-right: 30px;margin-left:30px;width:100px">
          <a href="#" class="navbar-brand" style="font-family:'Dancing Script';font-size: 25px; font-weight: bold;color: #e84393;">
          <img src="{% static '/images/cosmoshop-icon.png' %}" style="margin-bottom: 10px;">Cosmoshop</a>
        </span>
        <ul class="navbar-nav">
            <li class="nav-item active" id="home">
                <a class="nav-link" href="/homepage_view">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Brands
                </a>
                <ul class="dropdown-menu">
                      {% for brand in Product_Brands %}

                    <li><a class="dropdown-item" href="/catalog/brand/{{ brand.product_brand_id }}">{{brand.name}}</a></li>
                     {% endfor %}
                </ul>
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <ul class="dropdown-menu">
                    {% for category in Category %}
                    <li><a class="dropdown-item dropdown-toggle" href="/catalog/category/{{ category.category_id }}">{{category.name}}</a>
                        <ul class="dropdown-menu">
                            {% for sub_cat1 in Sub_Category1 %}
                                {% if sub_cat1.category_id_id == category.category_id %}
                            <li><a class="dropdown-item dropdown-toggle" href="/catalog/sub_category1/{{ sub_cat1.sub_category1_id }}">{{sub_cat1.name}}</a>
                                <ul class="dropdown-menu">
                                     {% for sub_cat2 in Sub_Category2 %}
                                        {% if sub_cat2.sub_category1_id_id == sub_cat1.sub_category1_id %}
                                    <li><a class="dropdown-item" href="/catalog/sub_category2/{{ sub_cat2.sub_category2_id }}">{{sub_cat2.name}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="about_us" href="/about_us">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact_us" href="/contact_us">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="skin_survey" href="/skin_survey">Skin Survey</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="orders" href="/orders">Orders</a>
            </li>
        </ul>
       <form class="form-inline">
          <div class="input-group">
            <input type="text" id="search" class="form-control" placeholder="Search">
              <div class="input-group-append">
                <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                <button type="button" class="btn btn-secondary"><i class="fa fa-microphone" aria-hidden="true"></i></button>
              </div>
          </div>
        </form>
        <div class="navbar-nav">
          {% comment %} <a href="#" class="nav-item nav-link">Login</a> {% endcomment %}
          {% if session == 'on' %}
            <a href="/logout" class="btn btn-info btn-round bg-dark">Logout</a>
            {% else %}
            <button type="button" class="btn btn-info btn-round bg-dark" style="margin-left:10px;border:none;color:#A9A9A9;" data-toggle="modal" data-target="#loginModal1">
            Login
           </button>
            {% endif %}
          <a href="/wishlist" id="wishlist" class="nav-item nav-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
          <span class="badge" id="wishlistbadge" style="color:#A9A9A9;">0</span>
          <a href="/cart"  id="cart"class="nav-item nav-link"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          <span class="badge" id="cartlistbadge" style="color:#A9A9A9;">0</span>
        </div>
      </div>
    </nav>
    <!-- Navbar Ends -->


	<section class="animation" style="margin-top:100px;left:0;right:0">
		<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 ">
				<div class="row" style="text-align:center;">
					<h1>My shopping cart</h1>
					<p>Buy Product which will help you to be more confident when you present your self.</p>
                </div>
				<div class="row">
					<div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
					  <!-- Shopping cart table -->
					  <div class="table-responsive">
						<table class="table" id = "demo">
						  <thead>
							<tr>
							  <th scope="col" class="border-0 bg-light">
								<div class="p-2 px-3 text-uppercase">Product</div>
							  </th>
							  <th scope="col" class="border-0 bg-light">
								<div class="py-2 text-uppercase">Price</div>
							  </th>
							  <th scope="col" class="border-0 bg-light">
								<div class="py-2 text-uppercase">Quantity</div>
							  </th>
							  <th scope="col" class="border-0 bg-light">
								<div class="py-2 text-uppercase">Remove</div>
							  </th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <th scope="row" class="border-0">
								<div class="p-2">
								  <img src="https://cdn.shopify.com/s/files/1/0906/2558/products/sugar-cosmetics-wingman-waterproof-microliner-01-i-ll-be-black-black-14233683034195_540x.jpg?v=1586497395" alt="" width="70" class="img-fluid rounded shadow-sm">
								  <div class="ml-3 d-inline-block align-middle">
									<h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">Sugar Eyeliner</a></h5><span class="text-muted font-weight-normal font-italic d-block">Category: Eye Makeup</span>
								  </div>
								</div>
							  </th>
							  <td class="border-0 align-middle"><strong>Rs 499.00</strong></td>
							  <td class="border-0 align-middle"><strong>3</strong></td>
							  <td class="border-0 align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a></td>
							</tr>
							<tr>
							  <th scope="row">
								<div class="p-2">
								  <img src="https://images-na.ssl-images-amazon.com/images/I/51QHHjI7VKL._SL1000_.jpg" alt="" width="70" class="img-fluid rounded shadow-sm">
								  <div class="ml-3 d-inline-block align-middle">
									<h5 class="mb-0"><a href="#" class="text-dark d-inline-block">Face Moisturizer</a></h5><span class="text-muted font-weight-normal font-italic">Category: Skin</span>
								  </div>
								</div>
							  </th>
							  <td class="align-middle"><strong>Rs 800.00</strong></td>
							  <td class="align-middle"><strong>3</strong></td>
							  <td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
							  </td>
							</tr>
							<tr>
							  <th scope="row">
								<div class="p-2">
								  <img src="https://www.sephora.com/productimages/sku/s2200525-main-zoom.jpg?imwidth=300" alt="" width="70" class="img-fluid rounded shadow-sm">
								  <div class="ml-3 d-inline-block align-middle">
									<h5 class="mb-0"> <a href="#" class="text-dark d-inline-block">Glam Lipstick</a></h5><span class="text-muted font-weight-normal font-italic">Category: Lips</span>
								  </div>
								</div>
								<td class="align-middle"><strong>Rs 300.00</strong></td>
								<td class="align-middle"><strong>3</strong></td>
								<td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
								</td>
							</tr>
						  </tbody>
						</table>
					  </div>
					  <!-- End -->
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
					  <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Coupon code</div>
					  <div class="p-4">
						<p class="font-italic mb-4">If you have a coupon code, please enter it in the box below</p>
						<div class="input-group mb-4 border rounded-pill p-2">
						  <input type="text" placeholder="Apply coupon" aria-describedby="button-addon3" class="form-control border-0">
						  <div class="input-group-append border-0">
							<button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>Apply coupon</button>
						  </div>
						</div>
					  </div>
					  <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Instructions for seller</div>
					  <div class="p-4">
						<p class="font-italic mb-4">If you have some information for the seller you can leave them in the box below</p>
						<textarea name="" cols="30" rows="2" class="form-control"></textarea>
					  </div>
					</div>
					<div class="col-lg-6">
					  <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
					  <div class="p-4">
						<p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
						<ul class="list-unstyled mb-4">
						  <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong id="total">0.00</strong></li>
						  <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping and handling</strong><strong id="charge" >0.00</strong></li>
						  <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong id="tax" >0.00</strong></li>
						  <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
							<h5 id="totalAmount" class="font-weight-bold">0.00</h5>
						  </li>
						</ul><a href = "javascript:Checkout()" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a>
					  </div>
					</div>
				</div>
            </div>
        </div>
    </div>
    </section>
	<script type="text/javascript">
		var wish = document.getElementById("wishlistbadge");
		//localStorage.removeItem("wish");
		var x = localStorage.getItem("wish");
		if(x !== null)
		{
			var res1 = x.split(",");
			wish.textContent = res1.length;
		}
	
		var data_from_django = "{{ my_data | escapejs}}";
		var json = JSON.parse(data_from_django);
		//alert(data_from_django);
		var table="<thead><tr><th scope=\"col\" class=\"border-0 bg-light\"><div class=\"p-2 px-3 text-uppercase\">Product Image</div></th><th scope=\"col\" class=\"border-0 bg-light\"><div class=\"py-2 text-uppercase\">Product Name</div></th><th scope=\"col\" class=\"border-0 bg-light\"><div class=\"py-2 text-uppercase\">Price</div></th><th scope=\"col\" class=\"border-0 bg-light\"><div class=\"py-2 text-uppercase\">Description</div></th></tr></thead><tbody>";
		var x = localStorage.getItem("cart");
		var cart = document.getElementById("cartlistbadge");
		var total = 0;
		var totalAmount = 0;
		var address_id = document.getElementById("address_id");

		if(x !== null)
		{
			var str_array = x.split(",");
			cart.textContent = str_array.length;
			for(var j = 0; j < str_array.length; j++) {
				//alert(str_array[j]);
				for(var i = 0; i < json.length; i++) {
					var obj = json[i];
					if(str_array[j] === obj.pk)
					{
						table += "<tr><td><img src=\"{%static '/images/Products/' %}"+ obj.fields.product_image +"\" style=\"height:200px;width:200px;\"/>" +
						"</td><td>" +
						obj.fields.name +
						"</td><td>" +
						obj.fields.price +
						"</td><td>" +
						obj.fields.description +
						"</td></tr>";
						total = total + parseInt(obj.fields.price);
					}
				}
			}
			
		}
		
		table += "</tbody>";
		document.getElementById("demo").innerHTML = table;
		if(total !== 0)
		{
			totalAmount = total + 50 + (total * 0.18);
			document.getElementById("total").innerHTML = total;
			document.getElementById("tax").innerHTML = total * 0.18;
			document.getElementById("charge").innerHTML = 50;
			document.getElementById("totalAmount").innerHTML = totalAmount;
			
		}
		
		function Checkout() {
			window.location.href = '/order_information/' + totalAmount +'/'+ x ;
			//window.location.href = '/payu_checkout/' + totalAmount +'/'+ x ;
		}

		<!-- Handling OrderError -->
                    var orderErr = "{{orderErr}}"
                    if( orderErr != "" )
                    {
                        swal({
						    title: "Error",
						    text: orderErr,
							icon: "error"
						});
                    }
	</script>
{% endblock %}
